*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bg {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 10px dashed rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
} */

/* .savanna {
    height: 800px;
    background-image: url(../img/elephant.png), url(../img/giraffe.png),
        url(../img/lion.png), url(../img/hepard.png),
        url(../img/savanna-derevo-solnce-zakat.jpg);
    background-repeat: no-repeat;
    background-position: bottom left, bottom 20px left 600px,
        bottom 20px left 1000px, bottom 20px left 1500px, center bottom;
    background-size: 600px, auto, auto, auto, auto;
} */

.container {
    width: 600px;
    margin: 0 auto;
}

/* .linear,
.radial {
    height: 200px;
} */

/* .linear {
    background-image: linear-gradient(
        to top,
        yellow 33%,
        blue 33% 66%,
        red 66% 80%,
        green 85% 100%
    );
}

.radial {
    background-image: radial-gradient(
        circle at top right,
        yellow 40px,
        blue 40px
    );
} */

/* .linear {
    background-color: chocolate;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/african-savannah-grass-acacia-baobab-260nw-1103717600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
} */

/* .title {
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title:hover {
    color: tomato;
}

.title:hover::before {
    color: teal;
}

.title::before {
    content: "1.";
}

.title::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/elephant.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
} */

.box {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: tomato;
    margin: 0 auto;
    margin-bottom: 4px;
    box-shadow: inset 10px 10px 0px 0 teal;
}
/* .btn {
    width: 200px;
    height: 50px;
    background-color: crimson;
    border: none;
    cursor: pointer;
   
}
.btn:active {
    box-shadow: inset 2px 2px 5px 2px rgba(47, 48, 58, 0.6);
} */
