.about {
    padding-top: 139px;
    padding-bottom: 121px;
}

.about__container {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
}

.about-list__item:not(:last-child) {
    margin-right: 30px;
}
.about__pre-title {
    
    margin-bottom: 20px;
    
}

.about__title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about__after-title {
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}



.about__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 44px;
}

.about__btn {
    color: var(--second-btn-color);
}