.header {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;

}

.header-container {
display: flex;
        align-items: center;
}

.header-navigation {
    display: none;
}


.header-list {
    display: flex;
}

/* .header-item {
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
} */

// .header-item  + .header-item {
//     margin-left: 40px;
// }

.header-item {
    & + & {
      margin-left: 40px;  
    }
}

.header-logo {
    margin-right: 70px;
}

.header-contacts {
    margin-left: auto;
    display: none;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    position: relative;
    transition: color 300ms linear;
    &.current {
        &::after {
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            position: absolute;
            left: 0;
            bottom: -48px;
        }
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}





.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    margin-right: 40px;
}

.header-btn {
    color: var(--main-btn-color);
}

.menu-open-btn {
    display: block;
    margin-left: auto;
}

.mob-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    z-index: 5;
}

.menu-close-btn {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
}

.mob-menu-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.mob-menu-link  {
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;

color: #303030;
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-tel {
  font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;
display: block;
margin-bottom: 24px;
color: #303030;  
}

.mob-social-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.mob-social-link{
    font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.2em;

color: #303030;
}

.mob-menu-container {
    height: 100%;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
}

.mob-menu-bottom {
    margin-top: auto;
}

