.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.612);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.modal {
    width: 500px;
    min-height: 500px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-cloce-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #999999;
    position: absolute;
    right: 10px;
    top: 10px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 600;
    line-height: 1.4;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 3px;
    padding-left: 30px;
    color: darkblue;
    font-size: 14px;
    outline: none;
    &:focus {
        border-color: var(--accent-color);
    }
    &:focus + .input-icon {
        fill: var(--accent-color);
    }
    &::placeholder {
    color: violet;
    font-size: 14px;
}
}







.input-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-text {
    width: 100%;
    height: 100px;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 10px;
    color: darkblue;
    font-size: 14px;
    resize: none;
}

.modal-label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}



.field {
    margin-bottom: 10px;
}

.check-text {
    font-size: 14px;
    color: var(--fourth-text-color);
    display: flex;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        width: 15px;
        height: 15px;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 5px;
        background-image: url(../img/icon-check.svg);
        background-position: center;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}

/* .check-text::before {
    content: "";
    width: 40px;
    height: 22px;
    border: 1px solid #999999;
    border-radius: 50px;
    margin-right: 5px;
    transition: background-color 300ms linear;
}

.check-text::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #c6cbe0;
    position: absolute;
    left: 3px;
    top: 2px;
    border-radius: 50%;
    transition: transform 300ms linear, background-color 300ms linear;
}

.modal-check:checked + .check-text::after {
    transform: translate(16px);
    background-color: #ffffff;
}

.modal-check:checked + .check-text::before {
    background-color: rgb(243, 228, 143);
} */

/* .check-text span {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
} */


.modal-check:checked + .check-text::before {
    background-color: var(--accent-color);
    border: none;
}