.pre-title {
    @include font(11px, 15px, 600, 0.1em);
    text-transform: uppercase;
    @extend %align-list;
    &::before {
        content: "";
        height: 1px;
        width: 63px;
        margin-right: 21px;
    }
}

.pre-title--color-light{
color: rgba(157, 164, 189, 0.6);
&::before {
        background-color: rgba(157, 164, 189, 0.6);
    }
}

.pre-title--color-dark{
    color: var(--first-text-color);
    &::before {
        background-color: var(--first-text-color);
    } 
}

   